@charset"gb2312";
/* CSS Document */
/* common */
.{ font-family: "microsoft yahei" ; }
div { font-family: "microsoft yahei" ; }
.body_w {  font-family: "microsoft yahei" ; }
.clr { clear: both; }
a { color: #666; text-decoration: none;  font-family: "microsoft yahei" ;}
a:hover { color: #f00; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 
.fl { float: left; }
.fr { float: right; }
.clear { clear: both }
.wrap { width: 1210px; margin: 0 auto; position: relative; }
.blank { height: 20px; clear: both }
.p-price strong, .p-market strong { color: #E4393C; }
.sm-wrap .mt { padding-top: 20px; height: 40px; }
.sm-wrap .mt h2 { float: left; color: #333; font-size: 18px; line-height: 30px; margin-right: 10px; }
.sm-wrap .mt .ext { float: left; }
.sm-wrap .mt .ext .describe { line-height: 32px; color: #999; font-size: 14px; font-family: "microsoft yahei"; }
/* toubu */
.top_right { width: 500px; height: 100px; }
.logo { float: left; width: 220px; margin-top: 10px; margin-bottom: 5px; }
.member_btn { position: absolute; top: 30px; right: 200px; width: 80px; padding-left: 30px; height: 30px; background: url(/statics/images/member_ic.png) 10px center no-repeat; border: 1px solid #efefef; background-color: #f7f7f7; }
.member_btn .member_arrow { background: url(/statics/images/member_arrow.png) 60px center no-repeat; line-height: 30px; }
.my_tool { position: relative; border: 1px solid #efefef; background-color: #f7f7f7; height: 30px; float: left; margin-right: 10px; margin-top: 30px; }
.my_tool .pd5 { float: left; padding-top: 7px; padding-left: 5px; padding-right: 5px; }
.my_tool .message { position: absolute; left: 20px; top: -12px; background: url(/assets/images/shual.png) no-repeat; color: #fff; text-align: center; width: 18px; }
.top_point { position: absolute; top: 30px; right: 0px; background: url(/assets/images/jiantouda.png) no-repeat; width: 163px; height: 40px; line-height: 32px; }
.member_point { position: absolute; left: 20px; width: 48px; text-align: center; }
.member_point a { color: #c50d0e; }
.member_sign { position: absolute; right: 0px; width: 90px; text-align: center; }
.member_sign a { color: #fff; }
.top_right { float: right; position: relative; }
.nav { clear: both; height: 33px; line-height:33px; overflow: hidden; font-size: 14px; font-weight: bold; font-family:"microsoft yahei" }
.nav li { float: left; }
.nav li a { display: block; color: #333; padding: 0px 15px; }
.nav li a:hover { color: #fff; background: #D32D2D; }
.nav .index { background:  #D32D2D  center; width:190px; }
.nav .index a { color: #fff; text-align: center; }
.nav .index a:hover { color: #fff; background: none }

.member_mini_nav { display: none; position: absolute; top: -1px; right: -1px; width: 310px; border: 1px solid #E3E3E3; background: white; z-index: 99; }
.prompt { padding: 6px 6px 6px 9px; border-bottom: 1px solid #EEE; line-height: 25px; overflow: hidden; zoom: 1; }
.uclist { width: 310px; margin: 5px 0; overflow: hidden; }
.uclist .fore1 { border-right: 1px solid #F1F1F1; }
.uclist ul { width: 134px; padding: 0 10px; }
.uclist a { display: block; height: 18px; overflow: hidden; padding: 5px; text-decoration: none; color: #005EA7; }
.uclist a:hover { background: #eee; color: #E4393C; }
.gundsz { background-color: #F2F2F2; width: 290px; font-size: 12px; display: block; height: 70px; }
.gundsz ul { padding-top: 5px; }
.gundsz ul li { float: left; width: 120px; padding-top: 10px; height: 20px; overflow: hidden; padding-left: 15px; }
.gundsz ul li a { color: #ff535f; }
.gundsz ul li a:hover { color: #f00; }
.zdtfbr{ float:right;}
/* toubu end */
/* person */

.vPersonal, .vMain .vPopular, .vMain .guesslogo { position: absolute; right: 0px; z-index: 21; *display: inline-block;
*zoom: 1
}
.vPersonal { width: 190px; height: 100% }
.vPopular { margin: 0 10px; width: 790px }

.vPersonal { width: 190px; height: 100% }
.vPersonal .hd { height: 35px; color:#fff; background:#423a34; padding-left:10px;   font: bold 16px/36px microsoft yahei ;   }
.vPersonal .info, .vPersonal .assets { padding: 15px 10px 0; background: #594f48 }
.vPersonal .privilege { background: #49413a }
.vPersonal .info { overflow: hidden; height: 80px }
.vPersonal .info .photo, .vPersonal .info .per { float: left; *display: inline;*zoom: 1}
.vPersonal .info .photo { float: left; position: relative; width: 65px; height: 65px; margin-right: 17px; margin-top: -5px; cursor: pointer }
.vPersonal .info .photo .n { width: 65px; height: 65px }
.vPersonal .info .photo .i { display: none; position: absolute; width: 36px; height: 36px; _width: 76px; _height: 76px; _display: block; border-radius: 36px; border: 2px solid #FFF }
.vPersonal .info .photo .g { position: absolute; z-index: 999; right: 0; top: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 24px; background: #eb5637; color: #FFF; font-size: 12px; text-align: center; text-decoration: none }
.vPersonal .info .photo .m { position: absolute; top: 0px; left: 0; z-index: 99; width: 77px; height: 76px; background: url(http://gtms03.alicdn.com/tps/i3/T1CFJkFTdbXXX_5Nbo-77-76.png) center no-repeat; *top: 3px;
*left: 2px}
.vPersonal .info .photo .m b { color: #FFF; margin: 28px auto; display: block; text-align: center; font-family: Microsoft YAHEI; font-weight: 400; font-size: 14px; letter-spacing: 1.5px }
.vPersonal .info .photo .mb-hide { display: none }
.vPersonal .info .photo .m-hover { background: #757575; opacity: .75; -moz-opacity: .75; -khtml-opacity: .75; filter: alpha(opacity=75) }
.vPersonal .info .photo #_IE6Hack { _background-color: #757575; _width: 78px }
.vPersonal .info .photo .np { margin: 1px 0 0 1px }
.vPersonal .info .photo .p { width: 77px; height: 77px; overflow: hidden }
.vPersonal .info .photo .p, .vPersonal .info .photo .m { _display: none }
.vPersonal .info .per { color: #FFF }
.vPersonal .info .per .title { font-weight: 500; width: 88px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis }
.vPersonal .info .per p { height: 14px; line-height: 14px; margin-bottom: 7px }
.vPersonal .info .per .bt a { display: inline-block; *display: inline;
*zoom: 1;
padding: 0 5px; height: 16px; line-height: 16px; text-decoration: none; border: 1px solid #de915a; color: #de915a }
.vPersonal .info .per .bt .activied { background: #ff7300; border-color: #ff7300; color: #FFF }
.vPersonal .unlogin { background: #594f48 !important }
.vPersonal .unlogin .jclub { height: 29px; background: url(http://gtms03.alicdn.com/tps/i3/T1NgZnFxpaXXbGJJYf-162-29.png) center no-repeat; margin: -5px 0 10px }
.vPersonal .unlogin .login { display: block; width: 160px; height: 38px; line-height: 38px; text-align: center; color: #FFF; margin: 0 auto; font-size: 14px; background: #ff7900; margin-bottom: 4px; cursor: pointer }
.vPersonal .unlogin .tips { color: #afa7a4; height: 22px; line-height: 22px; padding-left: 5px }
.vPersonal .unlogin .tips a{ color:#FFFFFF !important;}
.vPersonal .unlogin .hot { color: #fa9e5b }
.vPersonal .assets { position: relative; padding-top: 20px; overflow: hidden; height: 150px; background: #594f48 url(http://gtms03.alicdn.com/tps/i3/T1OUQhFA4cXXcEtSTl-190-73.png) bottom left no-repeat }
.vPersonal .assets .bt1 { border-top: 1px solid #7a726d; position: absolute; top: 0; left: 10px; width: 170px }
.vPersonal .assets a { text-decoration: none }
.vPersonal .assets .ht, .vPersonal .assets .ht a { color: #FFF }
.vPersonal .assets .bt, .vPersonal .assets .bt a { color: #b4b1af }
.vPersonal .assets .row { margin-bottom: 25px }
.vPersonal .assets .row .icon { float: left; width: 26px; height: 26px; margin-right: 10px; background-repeat: no-repeat }
.vPersonal .assets .row p { position: relative; line-height: 12px; height: 12px; white-space: nowrap }
.vPersonal .assets .row .ht { top: -3px }
.vPersonal .assets .row .bt { top: 3px }
.vPersonal .assets .point .icon { background-image: url(http://gtms02.alicdn.com/tps/i2/T1FCG6FIlXXXaenqLc-26-26.png) }
.vPersonal .assets .message .icon { background-image: url(http://gtms01.alicdn.com/tps/i1/T1t0a3FQVaXXaenqLc-26-26.png) }
.vPersonal .assets .coupon .icon { background-image: url(http://gtms02.alicdn.com/tps/i2/T17pe7FFVXXXaenqLc-26-26.png) }
.vPersonal .privilege { position: relative; height: 150px }
.vPersonal .privilege .title { height: 32px; position: relative; background: url(http://gtms03.alicdn.com/tps/i3/T1MM6.FrdfXXczees8-121-23.png) no-repeat bottom left; left: -2px }
.vPersonal .privilege .tab-nav { position: absolute; top: 18px; right: 10px }
.vPersonal .privilege .tab-nav li { float: left; border-radius: 6px; width: 6px; height: 6px; font-size: 0; line-height: 0; background: #e5e5e5; margin-right: 5px; cursor: pointer }
.vPersonal .privilege .tab-nav .selected { background: #ffa15e }
.vPersonal .privilege .privList { overflow: hidden }
.vPersonal .privilege .privList li { position: relative; float: left; width: 60px; color: #FFF; padding-left: 35px; white-space: nowrap }
.vPersonal .privilege .privList li a { height: 30px; line-height: 30px; color: #FFF }
.vPersonal .privilege .privList li a:hover { color: #ff7300 }
.vPersonal .privilege .privList li .icon { position: absolute; font-family: vip-font; left: 15px; top: 0 }
.vPersonal .privilege .privList li .able { color: #ff7300 }
.vPersonal .privilege .privList li .disable { color: #918c88 }
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
 .vPersonal .assets .row .icon {
background-size: 26px 26px
}
 .vPersonal .assets .point .icon {
background-image: url(http://gtms04.alicdn.com/tps/i4/T1L_tpFOtbXXXS_orh-52-52.png)
}
 .vPersonal .assets .message .icon {
background-image: url(http://gtms02.alicdn.com/tps/i2/T1fY0pFPhcXXXS_orh-52-52.png)
}
 .vPersonal .assets .coupon .icon {
background-image: url(http://gtms01.alicdn.com/tps/i1/T1r.JqFLtaXXXS_orh-52-52.png)
}
}
/* person end */


/* shoujiao */
.slide { position: absolute; left: -355px;}
.focus { width: 1920px; height: 480px; position: relative; overflow: hidden; }
.focus .tab-nav { height: 25px; position: absolute; z-index: 10; left: 20px; bottom: 8px; text-align: center; width: 100% }
.focus .tab-nav div { cursor: pointer; display: inline-block; height: 15px;  cursor: pointer; margin: 0 2px; position: relative; width: 15px;

 -webkit-transition: all 0.2s ease 0; -moz-transition: all 0.2s ease 0; -o-transition: all 0.2s ease 0; transition: all 0.2s ease 0; }
 
.focus .tab-nav  .v0{ background:#f6bc00;} 
.focus .tab-nav  .v1{background:#ea6413;} 
.focus .tab-nav  .v2{background:#ee870e;} 
.focus .tab-nav  .v3{background:#f24152;} 
.focus .tab-nav  .v4{background:#82bc30;} 
.focus .tab-nav  .v5{background:#40a8bb;} 
.focus .tab-nav  .v6{background:#6283c6;} 
.focus .tab-nav  .v7{background:#8e77cc;} 
.focus .tab-nav  .v8{background:#ee870e;} 
.focus .tab-nav  .v9{background:#ea6413;} 
.focus .tab-nav  .v10{background:#6283c6;} 
.focus .tab-nav div.on { cursor: pointer; width: 30px; height: 15px; }
.focus .prev { position: absolute; display: none; left: 550px; top: 200px; width: 45px; height: 100px; position: absolute; z-index: 10; background: url(http://img03.taobaocdn.com/imgextra/i3/1089118323/TB213iWbXXXXXa8XpXXXXXXXXXX-1089118323.gif) no-repeat left top; cursor: pointer; }
.focus .next { position: absolute; display: none; right: 560px; top: 200px; width: 45px; height: 100px; position: absolute; z-index: 10; background: url(http://img03.taobaocdn.com/imgextra/i3/1089118323/TB213iWbXXXXXa8XpXXXXXXXXXX-1089118323.gif) no-repeat right top; cursor: pointer; }
.focus:hover .next { display: block;}
.focus:hover .prev { display: block;}
/* shoujiao end */

/*fenlei*/
.fenlei { width: 190px; height: 480px; position: absolute; left: 0px; z-index: 21; background: url(http://img03.taobaocdn.com/imgextra/i3/1089118323/TB2wG1zbXXXXXbcXXXXXXXXXXXX-1089118323.jpg) no-repeat;}
.fenlei .list li { height: 30px; transition:0.2s; padding-left: 0px; }
.fenlei .list li:hover { background: #a90000; padding-left: 5px;}
.fenlei .list li a { color: #fff; display: inline-block; padding: 0 10px; height: 30px; line-height: 30px;  }
.fenlei .list li a:hover { color: #fff; text-decoration: underline; }
/*fenlei end*/


/*品牌推荐*/
.pinpai .tits { float: left; font-size: 22px; }
.pinpai .tits span { display: block;}
.pinpai .tits i { display: block; font-size: 16px; color: #666; font-style: normal;}
.pinpai .dao{ float: left; height: 80px; padding-left: 30px;}
.pinpai .dao div{ float: left;height: 80px; margin-right: 10px; width: 100px; }
.pinpai .dao div.on{ background: url(http://img01.taobaocdn.com/imgextra/i1/1089118323/TB2gBe1bXXXXXcpXXXXXXXXXXXX-1089118323.png) no-repeat center 60px;}

.pinpai .pp-content { background: url(http://img02.taobaocdn.com/imgextra/i2/1089118323/TB2lm1VbXXXXXaQXpXXXXXXXXXX-1089118323.png) no-repeat; height: 400px;}

.pinpai .gds .li { width: 240px; padding:  20px; float: left; height: 320px; transition: .2s; background: rgba(255,255,255,0.5); margin: 10px; *background: #fff;_background: #fff; }
.pinpai .gds .li:hover {padding-top: 15px; height: 325px;}
.pinpai .gds .li .tit { width: 100%; height: 24px; font-size: 14px;} 
.pinpai .gds .li .price {height: 55px; position: relative;}
.pinpai .gds .li .price .jg { font-size: 24px; font-family: "impact"; color: #f00;}
.pinpai .gds .li .price .jg i{ font-style: normal; display: block;}
.pinpai .gds .li .price .jg span { font-size: 14px; color:  #666; font-family: "microsoft yahei"; text-decoration: line-through; display: block;}
.pinpai .gds .li .price  .gm { position: absolute; line-height: 26px; width: 70px; text-align: center; height: 26px; background: #c00; border-radius: 5px; color: #fff; right: 0px; bottom:0px;}


/*品牌推荐end*/

/*9.9包邮专区*/
.f_title { font-size:24px; height: 40px;   }
.f_title span { font-size: 16px; color: #999; padding-left: 20px;}
.baoyou { border-top: 1px solid #eee; border-left: 1px solid #eee; width: 1210px;}
.baoyou .li { width: 221px; padding: 10px; float: left; height: 320px; border-bottom: 1px solid #eee; border-right: 1px solid #eee; transition:0.2s;}
.baoyou .li:hover { padding-top: 5px; height: 325px;}
.baoyou .li .tit { height: 24px; font-size: 14px;} 
.baoyou .li .price {height: 34px; position: relative;}
.baoyou .li .price .jg { font-size: 24px; font-family: "impact"; color: #f00;}
.baoyou .li .price .jg span { font-size: 14px; color:  #666; font-family: "microsoft yahei"; text-decoration: line-through;}
.baoyou .li .price  .gm { position: absolute; line-height: 26px; width: 70px; text-align: center; height: 26px; background: #c00; border-radius: 5px; color: #fff; right: 0px; top:0px;}
.baoyou .li  .time { padding-left: 30px; background: url(http://img04.taobaocdn.com/imgextra/i4/1089118323/TB2Q8S3bXXXXXX5XXXXXXXXXXXX-1089118323.png) 0 center no-repeat; height: 40px; line-height: 40px; font-size: 14px;}

/*9.9包邮专区end*/

/*楼层*/
.louceng .cat{ float: left; width: 235px; }
.louceng .cat .img { height: 340px;}
.louceng .cat_list { height: 320px; background: url(http://img03.taobaocdn.com/imgextra/i3/1089118323/TB2p1eTbXXXXXbfXpXXXXXXXXXX-1089118323.png) no-repeat; padding: 10px;}
.louceng .cat_list a { display: inline-block; padding: 5px 5px;}


.louceng .gds .li { width: 221px; padding: 0 0 0 20px; float: left; height: 330px; transition: .2s;padding-top:0px; }
.louceng .gds .li:hover {padding-top: 5px; height: 325px;}
.louceng .gds .li .tit { height: 24px; font-size: 14px;} 
.louceng .gds .li .price {height: 55px; position: relative;}
.louceng .gds .li .price .jg { font-size: 24px; font-family: "impact"; color: #f00;}
.louceng .gds .li .price .jg i{ font-style: normal; display: block;}
.louceng .gds .li .price .jg span { font-size: 14px; color:  #666; font-family: "microsoft yahei"; text-decoration: line-through; display: block;}
.louceng .gds .li .price  .gm { position: absolute; line-height: 26px; width: 70px; text-align: center; height: 26px; background: #c00; border-radius: 5px; color: #fff; right: 0px; bottom:0px;}


/*楼层end*/

/*见食*/
.jianshi .gds .li { width: 221px; padding:5px; margin: 5px; background: #fff; float: left; height: 310px; transition: .2s; }
.jianshi .gds .li:hover {padding-top: 10px; height: 305px;}
.jianshi .gds .li .tit { height: 24px; font-size: 14px; overflow: hidden;} 
.jianshi .gds .li .price {height: 55px; position: relative;}
.jianshi .gds .li .price .jg { font-size: 24px; font-family: "impact"; color: #f00;}
.jianshi .gds .li .price .jg i{ font-style: normal; display: block;}
.jianshi .gds .li .price .jg span { font-size: 14px; color:  #666; font-family: "microsoft yahei"; text-decoration: line-through; display: block;}
.jianshi .gds .li .price  .gm { position: absolute; line-height: 26px; width: 70px; text-align: center; height: 26px; background: #c00; border-radius: 5px; color: #fff; right: 0px; bottom:0px;}


/*见食end*/
/* 特色品类 */
.ext .filter-item.selected { padding: 0 7px; border: 2px solid #E33A3D; }
.ext .filter-item:hover { padding: 0 7px; border: 2px solid #E33A3D; text-decoration: none; }
.ext .filter-item { display: inline-block; position: relative; height: 26px; line-height: 26px; padding: 1px 8px; border: 1px solid #CDCDCD; background: white; margin-right: 3px; -webkit-transition: border-color .1s, color .1s; -moz-transition: border-color .1s, color .1s; -o-transition: border-color .1s, color .1s; -ms-transition: border-color .1s, color .1s; transition: border-color .1s, color .1s; }
.sort .left { float: left; width: 960px; margin-left: 10px; }
.sort .right { float: right; width: 240px; margin-top: 10px; }
.li3 { height: 90px; width: 470px; margin-top: 10px; float: left; border-bottom: #EEE dashed 1px; padding-bottom: 10px; }
.li3_img { float: left; width: 110px; }
.li3_img img { width: 90px; height: 90px; }
.li3_t { float: left; width: 350px; font-size: 13px; color: #CCC; text-align: left; }
.li3_t a { display: inline-block; padding: 3px; color: #777; }
.li3_t a:hover { background-color: #F60; color: #FFF; border-radius: 5px; }
.hot a { color: #FF0000; font-weight: bold; }
.hot { font-weight: bold; }
.list { clear: both; }
.li4 { float: left; width: 290px; line-height: 24px; margin-right: 10px; }
.txt { font-size: 16px; }
.des { font-size: 12px; color: #777; }
.li4 { float: left; width: 290px; line-height: 24px; margin-right: 10px; }
.txt { font-size: 16px; }
.des { font-size: 12px; color: #666; }
.fl { float: left; }
.fr { float: right; }
.fl5 { float: left; width: 590px; }
.fr5 { float: right; width: 590px; }
.li_pp li { float: left; margin-right: 10px; }
.li_pp li img { width: 170px; height: 110px; }
.li_pp li a { padding: 10px; display: block; }
.li_pp li a:hover { background-color: #EEE; }
.f-list { float: left; }
.f-list li { float: left; list-style: none; height: 280px; width: 238px; line-height: 24px; }
.sort { height: 550px; }
/* special */
.special { height: 350px; }
.special li { float: left; width: 242px; }
.special h1 { padding: 10px; font-size: 26px; }
.special .grace { padding: 0 10px 10px 10px; font-size: 16px; }
.s1 { background: #e7f6d9; color: #64a128 }
.s2 { background: #f9dfd0; color: #c32a08 }
.s3 { background: #ffd8d9; color: #d30319 }
.s4 { background: #f5efcb; color: #ffa509 }
.s5 { background: #e2f5fb; color: #076034 }
.curr .cg-w-t-label { display: block !important; }
/* youqinglianjie */
.jh { clear: both; width: 1280px; }
.jh img { height: 100px; width: 160px; margin-bottom: 10px; }
.jh a { display: block; width: 175px; height: 115px; float: left; }
/* tongdi */
.bder { background-color: #EEEEEE; height: 110px; text-align: center; margin-left: auto; margin-right: auto; }
.tle { float: left; padding: 10px 0px 0px 10px; color: #FFF; width: 150px; }
.ti { font-size: 16px; font-weight: bold; height: 30px; text-align: left; }
.tle li { text-align: left; font-size: 12px; line-height: 20px; }
.tle a { color: #999999; }
.ti a { color: #333333; }
.dilo { float: left; margin-top: 15px; }
.wx { float: left; padding: 10px; }
.wx img { width: 90px; height: 90px; }
.shux { border-left-width: 1px; border-left-style: solid; border-left-color: #CCCCCC; margin-top: 15px; width: 1px; height: 85px; float: left; margin-left: 5px; margin-right: 5px; }
.jaelx { width: 180px; }
/* 产品列表 */
.good_sort { margin-top: 20px; border: 1px solid #eee; height: 40px; line-height: 40px; font-size: 14px; color: #eee; }
.good_sort li { float: left; text-align: center; }
.good_sort li a { display: inline-block; padding: 0 5px; border-right: 1px solid #eee; }
.good_sort a:hover { color: #c00; }
.good_sort .on { font-weight: bold; color: #C00; border-top: 2px solid #c00; }
.good_list { width: 1300px; margin-top: 20px; }
.good_list li { float: left; width: 220px; height: 320px; margin-right: 20px; }
.goods-block .cover { position: absolute; top: 190px; height: 30px; overflow: hidden; width: 200px; padding: 0 10px; line-height: 30px; background: #000; color: #fff; filter: alpha(opacity=70); opacity: 0.8; }
.goods-block .pic { display: block; position: relative; }
.goods-block .price { font-size: 16px; font-weight: bold; color: #C23232; }
.goods-block .strike-price { text-decoration: line-through; color: gray; }
.goods-block .buybtn { float: right; }
.goods-block .buybtn a { display: block; background: #C23232; color: #fff; padding: 2px 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.goods-block .buybtn a:hover { float: right; background: #dd0000; color: #fff; padding: 2px 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.goods-block .cp { }
/* 店铺列表  */
.shop_list { width: 1300px; margin-top: 20px; }
.shop_list li { float: left; width: 290px; height: 330px; margin-right: 10px; }
.shop_list li .img { display: block; height: 290px; overflow: hidden; }
.shop_list li .title { display: block; border: 1px solid #eee; font-size: 14px; padding: 4px; }
/* 专题列表 */
.special_list { margin-top: 20px; width: 1210px; }
.special_left h1 { font-size: 24px; margin-left: 10px; margin-top: 10px; }
.special_left img { width: 240px; height: 240px; }
.special_left ul li { float: left; margin-bottom: 20px; }
.special_left ul li .grace { font-size: 16px; margin-left: 10px; margin-top: 10px; }
.zt1 { background: #e7f6d9; color: #64a128 }
.zt2 { background: #f9dfd0; color: #c32a08 }
.zt3 { background: #ffd8d9; color: #d30319 }
.zt4 { background: #f5efcb; color: #ffa509 }
.zt5 { background: #e2f5fb; color: #076034 }
.zt1 a { background: #e7f6d9; color: #64a128 }
.zt2 a { background: #f9dfd0; color: #c32a08 }
.zt3 a { background: #ffd8d9; color: #d30319 }
.zt4 a { background: #f5efcb; color: #ffa509 }
.zt5 a { background: #e2f5fb; color: #076034 }
/* 翻页 */
.pages { font-size: 14px; padding: 14px 0 10px; font-family: 脣脦脤氓; text-align: center; }
.pages a { display: inline-block; height: 30px; line-height: 30px; background: #fff; border: 1px solid #e3e3e3; text-align: center; color: #333; padding: 0 10px }
.pages a.a1 { width: 56px; padding: 0 }
.pages a:hover { background: #f1f1f1; color: #000; text-decoration: none; }
.pages span { display: inline-block; height: 30px; padding: 0 10px; line-height: 30px; background: #c00; border: 1px solid #b00; color: #fff; text-align: center; }
.page .noPage { display: inline-block; height: 22px; line-height: 22px; background: url(/statics/img/icu/titleBg.png) repeat-x 0 -55px; border: 1px solid #e3e3e3; text-align: center; color: #a4a4a4; }
/* clear */
/* zhuanti */

.sperai img { display: block; }
/* icon */



