@charset "gb2312";
.clear { clear: both; }
.blank { height: 20px; }
.border { border: 1px solid #eee; }
.m_avator { margin: 20px 20px 10px 20px; }
.m_left { width: 180px; float: left; border-right: 1px solid #eee; }
.m_right { float: right; width: 1000px; }
.pd20 { padding: 20px; }
.m_nav li { line-height: 30px; height: 30px; font-size: 14px; }
.m_nav a { padding-left: 20px; }
.m_nav_on { background: #a00; }
.m_nav_on a { color: #fff; font-weight: bold; }
.m_name { text-align: center; padding-bottom: 10px; border-bottom: 1px solid #eee; }
.m_title { border-bottom: 2px solid #ccc; font-size: 16px; height: 30px; font-weight: bold; }
.avator { border-radius: 38px; width: 77px; height: 77px; }
.vNav .member_nav .item:hover,
.vNav .member_nav .select { background-image: url(http://gtms01.alicdn.com/tps/i1/T1A8ZNFcJaXXasvs6r-1-3.png) }
.mb-hide b { display: block; visibility: hidden; }
.mb-hide:hover b { display: block; background: #000; opacity: 0.7; visibility: visible; }
.vNav { background-color: #FFF; border-bottom: 1px solid #C5C5C5; box-shadow: 0 0 3px #c5c5c5; width: 100%; height: 105px; position: static; z-index: 999999999 }
.vNav .layout { position: relative; height: 105px }
.vNav .personal { padding-top: 20px; position: relative; width: 370px }
.vNav .personal .tips { position: absolute; z-index: 10; width: 120px; height: 20px; line-height: 20px; padding: 0 8px; background-color: #eb5637; color: #FFF; cursor: pointer; border-radius: 2px; top: -15px; left: 40px }
.vNav .personal .tips .a { color: #eb5637; position: absolute; font-size: 12px; bottom: -3px; left: 3px; height: 8px; line-height: 8px; z-index: -10 }
.vNav .personal .photo { float: left; position: relative; width: 77px; height: 77px; margin-right: 20px; cursor: pointer }
.vNav .personal .photo .i { display: none; position: absolute; width: 36px; height: 36px; _width: 76px; _height: 76px; _display: block; border-radius: 36px; border: 2px solid #FFF }
.vNav .personal .photo .g { position: absolute; z-index: 999; right: 0; top: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 24px; background-color: #eb5637; color: #FFF; font-size: 12px; text-align: center; text-decoration: none }
.vNav .personal .photo .m { position: absolute; top: 1px; left: 0; z-index: 99; width: 77px; height: 76px; background-repeat: no-repeat; *top: 3px; *left: 2px; _display: none; background-position: center 50% }
.vNav .personal .photo .m b { color: #FFF; margin: 0px auto; display: block; height: 77px; line-height: 77px; text-align: center; font-family: Microsoft YAHEI; font-weight: 400; font-size: 14px; letter-spacing: 1.5px }
.vNav .personal .photo .m-hover { background-color: #757575; opacity: .75; -moz-opacity: .75; -khtml-opacity: .75; filter: alpha(opacity=75) }
.vNav .personal .photo #_IE6Hack { _background-color: #757575; _width: 78px }
.vNav .personal .photo .np { margin: 1px 0 0 1px }
.vNav .personal .photo .p { width: 77px; height: 77px; overflow: hidden; }
.vNav .personal .my { overflow: hidden; padding-top: 5px }
.vNav .personal .my .info { margin-bottom: 5px }
.vNav .personal .my .info .item { position: relative; float: left; text-align: left; width: 60px }
.vNav .personal .my .info .item span { color: #9c9085 }
.vNav .personal .my .info .item a { font-size: 20px; color: #eb5637; font-family: aial; display: block; font-weight: 600; font-weight: 400\9; text-align: left; height: 22px; line-height: 22px }
.vNav .personal .my .info .item a:hover { text-decoration: underline !important; }
.vNav .personal .my .info .item .b { position: absolute; width: 0; height: 25px; top: 10px; right: 0; border-left: 1px dotted #9c9085 }
.vNav .personal .my .info .it01 { padding-right: 19px }
.vNav .personal .my .info .it02 { padding: 0 19px }
.vNav .personal .my .info .it03 { width: 50px; padding-left: 19px }
.vNav .personal .my .nlinfo { margin-bottom: 2px }
.vNav .personal .my .nlinfo .nai { color: #b4aca4 }
.vNav .personal .my .nlinfo .r1 { text-align: center; line-height: 22px }
.vNav .personal .my .nlinfo .na01 { float: left }
.vNav .personal .my .nlinfo .na03 { float: right }
.vNav .personal .my .nlinfo .lbtn { display: block; background-color: #eb5637; height: 22px; line-height: 22px; color: #FFF; text-align: center; border-radius: 2px }
.vNav .personal .my .priv { margin-top: 5px; height: 18px; line-height: 18px; font-size: 0; padding-top: 4px }
.vNav .personal .my .priv .title { vertical-align: baseline; font-size: 12px; padding-right: 3px; color: #AFAFAF }
.vNav .personal .my .priv a { vertical-align: baseline; display: inline-block; *zoom: 1; margin-right: 4px; background-repeat: no-repeat !important; font-family: iconfont; font-size: 14px; font-style: normal; color: #505050; text-decoration: none }
.vNav .personal .my .priv .dis { color: #cecece }
.vNav .personal .my .priv .privilege_all { width: 5px; height: 9px; background-repeat: no-repeat; background-position: -144px -20px }
.vNav .personal .minimy { display: none }
.vNav .personal .minimy .item { position: relative; float: left; *display: inline; *zoom: 1; height: 40px; width: 77px; padding-top: 6px; text-align: center; color: #9c9085 }
.vNav .personal .minimy .item .title { display: block; height: 12px; line-height: 12px; margin-bottom: 4px }
.vNav .personal .minimy .item a { color: #eb5637; font-size: 17px; font-family: Arial; height: 20px; line-height: 20px }
.vNav .personal .minimy .item .b { position: absolute; top: 13px; right: 0; height: 21px; width: 0; border-left: 1px dotted #9c9085 }
.vNav .personal .minimy .it04 { width: 60px; padding-left: 10px }
.vNav .personal .minimy .mtips { display: inline-block; background-color: #eb5637; color: #FFF; border-radius: 2px; width: 230px; height: 22px; line-height: 22px; text-align: center; margin: 11px 0 0 27px }
.vNav .member_nav { float: right; height: 105px; overflow: hidden }
.vNav .member_nav .item { float: left; text-align: center; padding-top: 34px; text-decoration: none; border-left: 1px solid #f0ebe8; border-right: 1px solid #f0ebe8; margin-right: -1px; width: 158px; height: 75px }
.vNav .member_nav .item .title { display: block; margin: 0 auto; height: 20px; background-repeat: no-repeat; font-size: 20px; line-height: 0; text-decoration: -9999em; margin-bottom: 2px; background-position: center }
.vNav .member_nav .item .sub { color: #9c9085 }
.vNav .member_nav .item .title { color: #9c9085 }
.vNav .member_nav .item:hover { background-color: #f8f3f0; background-repeat: repeat-x; background-position: bottom }
.vNav .member_nav .select { background-color: #f8f3f0; background-repeat: repeat-x; background-position: bottom }
.vNav .member_nav .it01 { width: 138px }
.vNav .member_nav .it01 .title { width: 42px; background-position: -102px -40px }
.vNav .member_nav .it01:hover .title { background-position: 0 -20px }
.vNav .member_nav .select .st01 { background-position: 0 -20px }
.vNav .member_nav .it02 .title { width: 102px; background-position: -42px -20px }
.vNav .member_nav .it02:hover .title { background-position: 0 -40px }
.vNav .member_nav .select .st02 { background-position: 0 -40px }
.vNav .member_nav .it03 .title { width: 81px; background-position: 0 0 }
.vNav .member_nav .it03:hover .title { background-position: 0 -60px }
.vNav .member_nav .select .st03 { background-position: 0 -60px }
.vNav .member_nav .it04 .title { width: 81px; background-position: -81px -60px }
.vNav .member_nav .it04:hover .title { background-position: 0 -80px }
.vNav .member_nav .select .st04 { background-position: 0 -80px }
.vNav .member_nav .it05 .title { width: 82px; background-position: 0 -100px }
.vNav .member_nav .it05:hover .title { background-position: -81px 0 }
.vNav .member_nav .select .st05 { background-position: -81px 0 }
.mini .vNav { height: 46px; overflow: hidden; position: fixed; z-index: 99999; top: 0; margin-top: 0 }
.mini .vNav .member_nav .sub { display: none }
.mini .vNav .member_nav .item { height: 38px; padding-top: 8px }
.mini .vNav .personal { width: 380px; padding-top: 0 }
.mini .vNav .personal .photo { margin: 3px 15px 0 0; width: 36px; height: 36px; cursor: default }
.mini .vNav .personal .photo .p { display: block; }
.mini .vNav .personal .photo .m { display: none }
.mini .vNav .personal .photo .i { display: block }
.mini .vNav .personal .photo .g { position: absolute; width: 20px; height: 20px; line-height: 20px; font-size: 10px; border-radius: 20px; top: 10px; right: -15px }
.mini .vNav .personal .photo .n { position: absolute; width: 20px; height: 20px; line-height: 20px; font-size: 10px; border-radius: 20px; top: 10px; right: -15px }
.mini .vNav .personal .my { display: none }
.mini .vNav .personal .minimy { display: block }
.mini .vNav .personal .tips { display: none }
/* 积分明细 */
.ui-tab { border-bottom: 2px solid #333; }
.ui-tab dt { float: left; text-align: center; height: 32px; line-height: 32px; cursor: pointer; color: #404040; font-size: 14px; font-weight: 700; width: 115px; }
.ui-tab dd { width: 180px; }
.ui-tab a { display: block; }
.ui-tab .select { position: relative; color: white; background-color: #333; border-top-color: #333; border-right-color: #333; }
.ui-tab dd { text-align: center; height: 32px; line-height: 32px; cursor: pointer; color: #404040; float: left; border: 1px solid #E1E1E1; border-bottom: 0; margin-right: -1px; background-color: white; width: 180px; }
.summary .valid { width: 265px; }
#pointContent .summary .item { float: left; height: 100px; border-right: 1px solid #E2E2E2; }
.summary .desc { font-size: 18px; font-weight: 700; color: #666; height: 24px; line-height: 24px; }
.summary .point { font-size: 34px; font-weight: 700; color: #288C29; height: 40px; line-height: 40px; }
.summary span { display: block; text-indent: 60px; text-align: left; }
.summary .valid { width: 265px; }
.summary .item { float: left; height: 100px; border-right: 1px solid #E2E2E2; }
.summary .expired-soon { width: 275px; }
.summary { padding: 28px 0; border: 2px solid #E2E2E2; background-color: #F1F1F1; }
.summary .exchange a { display: block; width: 260px; height: 44px; margin: 28px auto; line-height: 44px; background-color: #D83C59; color: white; font-size: 18px; border-radius: 3px; text-align: center; }
.summary .exchange { width: 600px; border-right: 0; }
.check_tips {border: 1px solid #FFBE7A;zoom: 1;background: #FFFCED;padding: 8px 10px;line-height: 20px;}


.detail { margin-top: 28px; }
.detail .masthead { background-color: #F1F1F1; border-width: 1px 0; border-color: #E3E3E3; border-style: solid; color: #999; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span.right { border-right: 0; }
.detail .notes { width: 160px; float: right; border-right: none; }
.detail .what { width: 210px; text-align: center; }
.detail .when { width: 380px; text-align: center; }
.detail .express { width: 210px; text-align: left; font-size: 16px; font-weight: bold; color: #a00; }
.detail .why { width: 380px; }
.detail .item-list { margin-top: 12px; border-top: 1px solid #F1F1F1; }
.detail .item { border-bottom: 1px solid #F1F1F1; padding: 20px 0; }
.detail .item div { float: left; overflow: hidden; }
.detail .why .title { display: block; line-height: 20px; text-align: left; color: #333; height: 40px; overflow: hidden; }
.detail .why .order-number { display: block; line-height: 20px; text-align: left; height: 20px; color: #999; }
.detail .item .what { font-size: 24px; font-weight: 700; line-height: 60px; }
.detail .what .minus { color: #30992E; }
.detail .what .plus { color: #B1000F; }
.detail .item .when { line-height: 60px; color: #999; }
.detail .item .notes { color: #999; text-align: left !important; }
.detail .why .img { float: left; display: block; width: 60px; height: 60px; overflow: hidden; text-align: center; margin: 0 10px 0 20px; }
.detail .btn_receive a{display: block;width: 80px; height: 30px;margin:15px auto;line-height: 30px;background-color: #D83C59;color: white;font-size: 14px;border-radius: 3px;text-align: center;}
.detail .btn_received a{display: block;width: 80px; height: 30px;margin:15px auto;line-height: 30px;background-color: #ccc;color: white;font-size: 14px;border-radius: 3px;text-align: center;}
/* 卖家会员商品管理 */
.product-list .product { font-size: 12px; float: left; width: 260px; height: 314px; margin: 0 7px 15px 0; padding: 10px 10px 0; background-color: #F2F2F2; }
.product-list .product .title { display: block; height: 237px; overflow: hidden; font-size: 12px; font-family: simsun; line-height: 17px; color: #333; }
.product-list .product .title img { display: block; width: 260px; height: 200px; padding-bottom: 6px; }
.product-list .product .title .benefit { float: left; display: block; margin-right: 2px; width: 27px; height: 14px; overflow: hidden; text-indent: -9999px; background-repeat: no-repeat; background-position: -496px -57px; }
.product-list .product .layer { width: 286px; height: 53px; margin-left: -13px; _margin-right: -16px; padding-top: 4px; overflow: hidden; background-repeat: no-repeat; background-position: -250px 0; }
.product-list .product .layer .info { float: left; width: 226px; height: 53px; overflow: hidden; }
.product .layer .shop-link { display: block; float: left; width: 57px; height: 53px; text-indent: -9999px; }
.product-list .product .layer .info .point { float: left; font-family: "microsoft yahei", simsun; font-size: 18px; line-height: 24px; _line-height: 21px; font-weight: 700; width: 100px; height: 21px; padding: 6px 0 0 13px; overflow: hidden; }
.product-list .product .layer .info { float: left; width: 226px; height: 53px; overflow: hidden; }
.product-list .product .layer .info .point .num { font-family: tahoma; cursor: pointer; }
.product-list .product .layer .info .limit { float: left; font-family: simsun; font-size: 12px; line-height: 16px; text-align: right; width: 99px; height: 18px; padding: 9px 14px 0 0; }
.product-list .product .layer .info .old-price { float: left; font-family: simsun; font-size: 12px; line-height: 16px; width: 100px; height: 20px; padding: 6px 0 0 16px; }
.product .layer .info .sold-out { background-color: #FFAA9F; }
.product-list .product .layer .info .status { float: left; width: 75px; height: 23px; margin-left: 21px; font-family: FZLanTingHei-M-GBK, "microsoft yahei", simsun; font-size: 13px; line-height: 24px; text-align: center; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.product-list .product .layer,
.product-list .product .title .benefit { background-image: url(http://gtms04.alicdn.com/tps/i4/T1WrB5FrtXXXazZi3z-536-269.png); }
.product-list .product .layer a { color: white; }
.product-list .product .edit { height: 20px; line-height: 20px; }
.product-list .product .edit a { padding: 0 8px; display: inline-block; }
.product-list .product .edit a:hover { background: #c00; color: #fff; }
