@charset "gb2312";
/* 兑换流程 */
.flowstep .step-no,
.flowstep .step-sub-box .step-sub { background: url(http://img01.taobaocdn.com/tps/i1/T1Usl8FnRfXXcVlxZa-734-340.png) no-repeat 50% -102px }
.flowstep { width: 990px; margin: 0 auto; padding: 20px 0 }
.flowstep ol { overflow: hidden; zoom: 1 }
.flowstep li { float: left; text-align: center }
.flowstep .step-name { padding: 3px 0; font-weight: 700; color: #888 }
.flowstep .step-no { height: 34px; line-height: 34px; font-family: 'arial black'; color: #fff; font-size: 18px }
.flowstep .step-last .step-no { background-position: 50% -136px }
.flowstep .step-time { color: #999; padding: 8px 0 }
.flowstep .step-time .time-first,
.flowstep .step-time .time-last { display: inline-block; *display: inline; *zoom: 1; width: 68px }
.flowstep .step-time .time-first { padding-right: 25px }
.flowstep .step-time .time-last { padding-left: 25px }
.flowstep .step-cur .step-name { color: #009349 }
.flowstep .step-cur .step-no { background-position: 50% 0 }
.flowstep .step-first .step-cur .step-no { background-position: 50% -34px }
.flowstep .step-last .step-cur .step-no { background-position: 50% -68px }
.flowstep .step-done .step-no { background-position: 50% -170px }
.flowstep .step-first .step-done .step-no { background-position: 50% -204px }
.flowstep .step-sub { position: relative; margin: 0 auto; width: 120px; height: 34px }
.flowstep .step-sub-box .step-sub-done { background-position: 50% -238px }
.flowstep .step-sub-box .step-sub-none { background-position: 50% -272px }
.flowstep .step-sub-box .step-sub-half { background-position: 50% -306px }
.flowstep .step-sub .sub-first,
.flowstep .step-sub .sub-last { position: absolute; top: 11px; font-weight: 700; color: #888; white-space: nowrap }
.flowstep .step-sub .sub-first { right: 120px; text-align: right }
.flowstep .step-sub .sub-last { left: 120px }
.flowstep-5 { margin-left: -30px; width: 1050px }
.flowstep-5 li { width: 210px }
.flowstep-4 { width: 1000px; margin-left: -20px }
.flowstep-4 li { width: 250px }

.go-btn {  display: inline-block; vertical-align: middle; background: url(http://gtms01.alicdn.com/tps/i1/T1yOlbFsNaXXbNvbod-205-316.png); width: 156px; height: 38px; border: 0 none; cursor: pointer; outline: 0; overflow: hidden; text-indent: -999px; }
.go-btn:hover { background-position: 0 -38px; }
.due {border-bottom: 1px dashed #ccc;  margin-bottom: 20px; padding-bottom: 10px;}
.due .pay-info {text-align: right;}
.due .pay-info .bd { font-size: 24px; color: #f00;}
.due .pay-info .question { float:left; font-size:14px; padding:10px 20px 5px 550px;;}
.due .pay-info .question b{ color:#C00;}
.due .pay-info .answer { float:left; font-size:14px; padding:5px 20px;}
.due .pay-info .answer b{ color:#C00;}
.due .pay-info .answer  input { font-size:14px; border:1px solid #ccc; padding:5px;}
.checkbar {text-align: right;}


 
.ui-tab { border-bottom: 2px solid #333; }
.ui-tab dt { float: left; text-align: center; height: 32px; line-height: 32px; cursor: pointer; color: #404040; font-size: 14px; font-weight: 700; width: 115px; }
.ui-tab dd { width: 180px; }
.ui-tab a { display: block; }
.ui-tab .select { position: relative; color: white; background-color: #333; border-top-color: #333; border-right-color: #333; }
.ui-tab dd { text-align: center; height: 32px; line-height: 32px; cursor: pointer; color: #404040; float: left; border: 1px solid #E1E1E1; border-bottom: 0; margin-right: -1px; background-color: white; width: 180px; }


.detail { margin-top: 28px; }
.detail .masthead { background-color: #F1F1F1; border-width: 1px 0; border-color: #E3E3E3; border-style: solid; color: #999; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span { display: block; float: left; border-right: 1px solid #E3E3E3; height: 32px; line-height: 32px; text-align: center; overflow: hidden; }
.detail .masthead span.right { border-right: 0; }
.detail .notes { width: 160px; float: right; border-right: none; }
.detail .what { width: 210px; text-align: center; }
.detail .when { width: 380px; text-align: center; }
.detail .express { width: 210px; text-align: left; font-size: 16px; font-weight: bold; color: #a00; }
.detail .why { width: 380px; }
.detail .item-list { margin-top: 12px; border-top: 1px solid #F1F1F1; }
.detail .item { border-bottom: 1px solid #F1F1F1; padding: 20px 0; }
.detail .item div { float: left; overflow: hidden; }
.detail .why .title { display: block; line-height: 20px; text-align: left; color: #333; height: 40px; overflow: hidden; }
.detail .why .order-number { display: block; line-height: 20px; text-align: left; height: 20px; color: #999; }
.detail .item .what { font-size: 24px; font-weight: 700; line-height: 60px; }
.detail .what .minus { color: #30992E; }
.detail .what .plus { color: #B1000F; }
.detail .item .when { line-height: 60px; color: #999; }
.detail .item .notes { color: #999; text-align: left !important; }
.detail .why .img { float: left; display: block; width: 60px; height: 60px; overflow: hidden; text-align: center; margin: 0 10px 0 20px; }
.detail .btn_receive a{display: block;width: 80px; height: 30px;margin:15px auto;line-height: 30px;background-color: #D83C59;color: white;font-size: 14px;border-radius: 3px;text-align: center;}
.detail .btn_received a{display: block;width: 80px; height: 30px;margin:15px auto;line-height: 30px;background-color: #ccc;color: white;font-size: 14px;border-radius: 3px;text-align: center;}