.triggers{position:absolute;width:1920px;border:none;padding:0px;margin:0px;left:-465px;top:0px;background-repeat:no-repeat;text-align:center;}
.special_wrap {background:#e7f5c2;}
img {margin:0 auto;}