<div class="wrap">{pc:block pos="dingtong"} {/pc}</div>
<?php include template('content','head');?>
<!-- <link rel="stylesheet" href="/statics/css/lows.css" />
<div class="lows-banner J_TWidget" style="display:none"  id="J_LowsBanner"  data-widget-type="Carousel" data-widget-config="{'navCls':'ks-switchable-nav','contentCls':'ks-switchable-content','effect': 'fade',
'easing': 'easeIn','triggerType':'mouse', 'steps':1, 'viewSize': [290], 'circular': true, 'activeTriggerCls':'active','autoplay':'true','interval':3,'prevBtnCls': 'prev', 'nextBtnCls': 'next', 'disableBtnCls': 'disable' }">
    <div class="trigger-wrap">
        <span class="close J_LowsClose"></span>
        <span class="prev"></span>
        <span class="next"></span>
        <ol class="lows-trigger ks-switchable-nav">
            <li class="ks-switchable-trigger-internal297 active"></li>
            <li class="ks-switchable-trigger-internal297 "></li>
            <li class="ks-switchable-trigger-internal297"></li>
        </ol>
    </div>
    <ul class="ks-switchable-content clear-fix">
        <li class="pic1 ks-switchable-panel-internal298" style="display: block; opacity: 0; position: absolute; z-index: 1; "><div class="banner-pic" style="background: url(http://img02.taobaocdn.com/imgextra/i2/2063414185/TB2vZdVaXXXXXXpXXXXXXXXXXXX-2063414185.png) no-repeat 0 0;"></div></li>
        <li class="pic2 ks-switchable-panel-internal298" style="display: block; opacity: 1; position: absolute; z-index: 9; "><div class="banner-pic" style="background: url(http://img01.taobaocdn.com/imgextra/i1/2063414185/TB26QXZaXXXXXXuXXXXXXXXXXXX-2063414185.png) no-repeat 0 0;"></div></li>
        <li class="pic3 ks-switchable-panel-internal298" style="display: block; opacity: 0; position: absolute; z-index: 1; "><div class="banner-pic" style="background: url(http://img02.taobaocdn.com/imgextra/i2/2063414185/TB2R10VaXXXXXXNXXXXXXXXXXXX-2063414185.png) no-repeat 0 0;"></div></li>
    </ul>
</div> -->
<div class="body_bg">

<!--首屏-->
<div class="wrap" style="height:350px; position:relative; " >
<div class="fenlei">
   {pc:block pos="fenlei"}{/pc}
  

</div>

    <!--shoujiao-->
    <div class="slide  w-content" >
      <div class="focus J_TWidget" data-widget-type="Carousel" data-widget-config="{'navCls':'tab-nav','contentCls':'tab-content','effect': 'fade',
'easing': 'easeIn','triggerType':'mouse', 'steps':1, 'viewSize': [1920], 'circular': true,'activeTriggerCls':'on', 'autoplay':'true','interval':3,'prevBtnCls': 'prev', 'nextBtnCls': 'next', 'disableBtnCls': 'disable' }">
        <div class="prev"></div>
        <div class="next"></div>
        <div class="tab-content">
          <?php   $sql="SELECT * FROM jae_focus WHERE  status=1 ORDER BY listorder ASC  ";
        
        $r_focus=query($sql); foreach ($r_focus as $r) {?>
          <div><a href="<?php echo $r["link"]?>" target="_blank"> <img src="<?php echo $r["picture"]?>" width="1920" height="350"/></a></div>
          <?php }?>
        </div>
        <div class="tab-nav">
          <?php $r_focuss=query($sql); foreach ($r_focuss as $k=>$rs) {?>
          <div class="v<?php echo $k?>"></div>
          <?php }?>
        </div>
      </div>
    
    </div>
    <!--shoujia end-->

<div class="bn" >
{pc:block pos="focus_right"}{/pc}

</div>
<div class="clear"></div>
</div>
<div class="blank"></div>



<!--首屏END-->
<div class="wrap">{pc:block pos="tonglan1"} {/pc}</div>
<!--每周活动-->        
<div class="wrap">
<div class="huodong J_TWidget"  data-widget-type="Slide" data-widget-config="{'navCls':'tab-nav','contentCls':'tab-content','effect': 'fade',
'easing': 'easeIn','triggerType':'mouse', 'steps':1, 'viewSize': [1920], 'circular': true,'activeTriggerCls':'on', 'autoplay':'true','interval':3,'prevBtnCls': 'mall-prev', 'nextBtnCls': 'mall-next', 'disableBtnCls': 'disable' }">
<div class="tit_nav tab-nav">
<div class="on">9.9元尝鲜<span>周一、周二</span></div><div class="">第二件半价
<span>周三、周四</span></div><div class="">一元换购
<span>周五、周六、周日</span></div></div>
<div class="content tab-content">

<div class="cnt"><ul>  {pc:content action="position"  posid="92" order="listorder asc"    num="6" }{loop $data $r}<li><a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="180" height="180"><br><div class="tit">{str_cut($r[title],30,'')}</div><span class="point">{$r[coupon_price]}元</span><span class="ljq">立即抢</span></a></li>{/loop}{/pc}</ul><div class="clear"></div></div>


<div class="cnt" style="display:none;"><ul>  {pc:content action="position"  posid="93" order="listorder asc"    num="6" }{loop $data $r}<li><a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="180" height="180"><br><div class="tit">{str_cut($r[title],30,'')}</div><span class="point">{$r[coupon_price]}元</span><span class="ljq">立即抢</span></a></li>{/loop}{/pc}</ul><div class="clear"></div></div>


<div class="cnt"  style="display:none;"><ul>  {pc:content action="position"  posid="94" order="listorder asc"    num="6" }{loop $data $r}<li><a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="180" height="180"><br><div class="tit">{str_cut($r[title],30,'')}</div><span class="point">{$r[coupon_price]}元</span><span class="ljq">立即抢</span></a></li>{/loop}{/pc}</ul><div class="clear"></div></div>
</div>

</div>

</div>


 <div class="blank"></div>    
<div class="wrap">{pc:block pos="tonglan2"} {/pc}</div>
       <!--辽食 -->
    <div class="wrap subject-box " style="background:url(http://img01.taobaocdn.com/imgextra/i1/2139364924/TB2qkT0bpXXXXbMXXXXXXXXXXXX_!!2139364924.jpg) no-repeat; ">
    <a href="" target="_blank" style="height:120px; display:block;">
    </a>
        
   <ul class="sub-list">
            {pc:content action="position"  posid="95" order="listorder asc"    num="5" }{loop $data $r}<li>
                <a class="tolink" href="{$r['url']}" target="_blank" >
                    <div class="pic">
                        <img data-ks-lazyload="{$r['thumb']}" alt="<?php echo $r['title'];?>">
                    </div>
                    <div class="text">
                        {$r['title']}
                    </div>
                    <div class="info">
                        <div class="cost clearfix">
                            
                            <span class="prices">￥<strong>{$r['coupon_price']}</strong></span>
                            
                            <span class="discount">
                                <span class="num"><?php echo round( $r['coupon_price']/$r['price'],2)*10;?></span>折
                            </span>
                            
                        </div>
                        <div class="old">
                            <del class="prices">￥{$r['price']}</del>
                        </div>
                        <div class="trade">
                            
                        </div>
                    </div>
                    
                    <div class="dijia">
                        <span class="di">查看详情</span>
                        
                    </div>
                    
                </a>
            </li>{/loop}
                  {/pc}
                    
            
        </ul><div class="clear"></div></div>
       
        <!--辽食end --> 
<div class="wrap">{pc:block pos="tonglan2"} {/pc}</div>
  <!--综合comprehensive-->
   <div class="comprehensive wrap">
   <div class="category">
  {pc:block pos="category"}{/pc}
   
   </div>
   <div class="grid-col-700">
   <div class="grid-col-450"> {pc:weblink action="lists" id="191" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="450" height="479" border="0" ></a>
 {/loop}
 {/pc}   </div>
   <div class="grid-col-260"> {pc:weblink action="lists" id="192" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="250" height="162" border="0" ></a>
 {/loop}
 {/pc} {pc:weblink action="lists" id="193" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="250" height="162" border="0" ></a>
 {/loop}
 {/pc} {pc:weblink action="lists" id="194" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="250" height="162" border="0" ></a>
 {/loop}
 {/pc}  </div>
   <div class="clear"></div>
   <div class="grid-rol-700"><!-- <div class="tip"></div> -->
   <ul>
    {pc:content action="position"  posid="96" order="listorder asc"    num="4" }
 {loop $data $r}
   <li><a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="176" height="176"><div class="tt">{str_cut($r[title],15,'')}</div>
   <div class="jg">￥{$r[coupon_price]}</div>
   <div class="ljq">立即抢</div></a>
   </li>
   {/loop}
   {/pc}
   
   
   </ul>
   
   
    </div>
   </div>
     <div class="grid-right-250">
    {pc:weblink action="lists" id="195" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="268" height="370" border="0" ></a>
 {/loop}
 {/pc} {pc:weblink action="lists" id="196" num="4" order="listorder ASC" }
 {loop $data $r}
 <a href="{$r[link]}" target="_blank"><img src="{$r[picture]}" title="{$r[title]}" width="268" height="370" border="0" ></a>
 {/loop}
 {/pc}  </div>
   
   <div class="clear"></div>
</div>
   <div class="blank"></div>
<!--综合end-->    
<div class="wrap">{pc:block pos="tonglan3"} {/pc}</div>
  <div class="blank"> &nbsp;</div>
<!--品牌故事-->
<div class="wrap">
<div class="gushi">

<div class="goods">
<ul>{pc:content action="position"  posid="97" order="listorder asc"    num="16" }{loop $data $r}
<li><a href="{$r[url]}" target="_blank">{if $r[isicon]==1}<div class="icon"><img src="{$r[icon_url]}"  width="80" height="80"></div>{/if}<img src="{$r[thumb]}" width="130" height="130"><br><br>{str_cut($r[title],24,'')}</a></li>
{/loop}{/pc}
</ul>
<div class="clear"></div>
</div>

</div>
</div>
<div class="blank"></div>
<div class="wrap " style=" text-align:center">{pc:block pos="tonglan2"}{/pc}</div> 
<div class="blank"></div> 
<!--满汉全席 -->
<div class="wrap">
  <div class=" manhan clearfix " style="background:url(http://img03.taobaocdn.com/imgextra/i3/2139364924/TB28g5EbpXXXXbpXXXXXXXXXXXX_!!2139364924.jpg) #751010 no-repeat; padding-top:5px; padding-left:480px;">
    <div class="gds">
      {pc:content action="position"  posid="98" order="listorder asc"    num="3" }
      
      {loop $data $r}
      
        <div class="li"><a class="tolink" href="{$r['url']}" target="_blank" > <img data-ks-lazyload="{$r['thumb']}" alt="<?php echo $r['title'];?>" width="220" height="220">
          <div class="tit">{str_cut($r['title'],16,'')}</div>
          <div class="price">
            <div class="jg"><i>￥{$r['coupon_price']}</i> <span>原价：￥{$r['price']}</span></div>
            <div class="gm">立即抢购</div>
          </div></a>
        </div>   
     
      
      {/loop}
      
      {/pc} </div>
  
    
  </div>
  </div>
  
  <!--满汉全席end -->  


  <div class="blank"> &nbsp;</div>
<div class="wrap">{pc:block pos="tonglan5"} {/pc}</div>
  <div class="blank"> &nbsp;</div>







<!-- 寻味辽宁 -->
<div class="wrap xunwei ">  
  <div class="main">
    <div class="wrap">
<div class="tanxun J_TWidget"  data-widget-type="Slide" data-widget-config="{'navCls':'tab-nav','contentCls':'tab-content','effect': 'fade',
'easing': 'easeIn','triggerType':'click', 'steps':1, 'viewSize': [620], 'circular': true,'activeTriggerCls':'on', 'autoplay':'false','interval':3,'prevBtnCls': 'mall-prev', 'nextBtnCls': 'mall-next', 'disableBtnCls': 'disable' }">


<div class=" tab-content">
            
<ul class="list" > <!-- 77 --><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2sYeHbpXXXXbiXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="77" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2.meAbpXXXXaRXpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="78" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2HtqCbpXXXXX5XpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="79" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img02.taobaocdn.com/imgextra/i2/2139364924/TB2vrOCbpXXXXafXpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="80" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img01.taobaocdn.com/imgextra/i1/2139364924/TB2lpuDbpXXXXXKXpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="81" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB28cyGbpXXXXbSXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="82" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2AZuKbpXXXXaDXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="83" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2tsGMbpXXXXXEXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="84" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img03.taobaocdn.com/imgextra/i3/2139364924/TB2JvONbpXXXXXNXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="85" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img01.taobaocdn.com/imgextra/i1/2139364924/TB2xl1FbpXXXXb.XXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="86" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img03.taobaocdn.com/imgextra/i3/2139364924/TB24ZqGbpXXXXcbXXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="87" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img02.taobaocdn.com/imgextra/i2/2139364924/TB27i1BbpXXXXarXpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="88" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img04.taobaocdn.com/imgextra/i4/2139364924/TB2JCmDbpXXXXXyXpXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="89" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
<ul class="list" ><img src="http://img03.taobaocdn.com/imgextra/i3/2139364924/TB2aumLbpXXXXX7XXXXXXXXXXXX_!!2139364924.jpg">
{pc:content action="position"  posid="90" order="listorder asc"    num="6" }
                                                                                                        
               {loop $data $r}
  <li><a href="<?php echo $r['url'];?>" target="_blank"><img src="<?php echo $r['thumb'];?>" width="280" height="280" border="0" /></a>
    <?php echo $r['title'];?></li>
  {/loop}
                   {/pc} 
</ul>
             

</div>



<div class="ditu tab-nav">
<div class="qu1">
<span></span>
朝阳
</div>
<div class="qu2">
<span></span>
阜新
</div>
<div class="qu3"><span></span>
沈阳
</div>
<div class="qu4"><span></span>
铁岭
</div>
<div class="qu5"><span></span>
葫芦岛
</div>
<div class="qu6"><span></span>
锦州
</div>
<div class="qu7"><span></span>
盘锦
</div>
<div class="qu8"><span></span>
辽阳
</div>
<div class="qu9"><span></span>
本溪
</div>
<div class="qu10"><span></span>
抚顺
</div>
<div class="qu11"><span></span>
营口
</div>
<div class="qu12"><span></span>
鞍山
</div>
<div class="qu13"><span></span>
丹东
</div>
<div class="qu14"><span></span>
大连
</div>
</div>
</div>

</div>


  </div>


</div>



<!-- 寻味辽宁END -->
  <div class="blank"> &nbsp;</div>
<div class="wrap">{pc:block pos="tonglan6"} {/pc}</div>
  <div class="blank"> &nbsp;</div>

 <!--1楼 -->
  <div class="wrap">
    <div class="f_title" style="background:url(http://img03.taobaocdn.com/imgextra/i3/2139364924/TB2OSiGbpXXXXcrXXXXXXXXXXXX_!!2139364924.png) 8px center #fafaf8 no-repeat; padding-left:50px;" >休闲零食<span>{pc:block pos="flool_1_list"} {/pc}</span></div>
    <div class="louceng clearfix">
      <div class="cat">
        <div class="img">{pc:block pos="flool_1_img"} {/pc}</div>
        
      </div>
      <div class="gds">
        {pc:content action="position"  posid="100" order="listorder asc"    num="10" }
  
  {loop $data $r}
        <div class="li"><a href="{$r['url']}" target="_blank"><img width="220"  height="220" src="{$r['thumb']}">
          <div class="tit">{str_cut($r['title'],12,'')}</div>
          <div class="price">
            <div class="jg"><i>￥{$r['coupon_price']}</i> <span>原价：{$r['price']}</span></div>
           
          </div></a>
        </div>
        {/loop}
        {/pc}
     
      </div>
    </div>
  </div>

  <!--1楼end --> 
    <div class="blank"> &nbsp;</div>
<div class="wrap">{pc:block pos="tonglan8"} {/pc}</div>
  <div class="blank"> &nbsp;</div>
  <!--2楼 -->
  <div class="wrap">
    <div class="f_title" style="background:url(http://img02.taobaocdn.com/imgextra/i2/2139364924/TB2j6yFbpXXXXcIXXXXXXXXXXXX_!!2139364924.png) 8px center #fafaf8 no-repeat; padding-left:50px;" >水产海鲜<span>{pc:block pos="flool_2_list"} {/pc}</span></div>
    <div class="louceng clearfix">
      <div class="cat">
        <div class="img">{pc:block pos="flool_2_img"} {/pc}</div>
        
      </div>
      <div class="gds">
        {pc:content action="position"  posid="101" order="listorder asc"    num="10" }
  
  {loop $data $r}
        <div class="li"><a href="{$r['url']}" target="_blank"><img width="220"  height="220" src="{$r['thumb']}">
          <div class="tit">{str_cut($r['title'],12,'')}</div>
          <div class="price">
            <div class="jg"><i>￥{$r['coupon_price']}</i> <span>原价：{$r['price']}</span></div>
           
          </div></a>
        </div>
        {/loop}
        {/pc}
     
      </div>
    </div>
  </div>

  <!--2楼end --> 
    <div class="blank"> &nbsp;</div>
  <div class="wrap">{pc:block pos="tonglan9"} {/pc}</div>
    <div class="blank"> &nbsp;</div>
<!--3楼 -->
  <div class="wrap">
    <div class="f_title" style="background:url(http://img03.taobaocdn.com/imgextra/i3/2139364924/TB235iIbpXXXXbYXXXXXXXXXXXX_!!2139364924.png) 8px center #fafaf8 no-repeat; padding-left:50px;" >家居优选<span>{pc:block pos="flool_3_list"} {/pc}</span></div>
    <div class="louceng clearfix">
      <div class="cat">
        <div class="img">{pc:block pos="flool_3_img"} {/pc}</div>
        
      </div>
      <div class="gds">
        {pc:content action="position"  posid="102" order="listorder asc"    num="10" }
  
  {loop $data $r}
        <div class="li"><a href="{$r['url']}" target="_blank"><img width="220"  height="220" src="{$r['thumb']}">
          <div class="tit">{str_cut($r['title'],12,'')}</div>
          <div class="price">
            <div class="jg"><i>￥{$r['coupon_price']}</i> <span>原价：{$r['price']}</span></div>
           
          </div></a>
        </div>
        {/loop}
        {/pc}
     
      </div>
    </div>
  </div>

  <!--3楼end -->
    <div class="blank"> &nbsp;</div> 
  <div class="wrap">{pc:block pos="tonglan10"} {/pc}</div>
  <div class="blank"> &nbsp;</div>

<!-- 特产专辑 -->
<div class="wrap zhuanti" >
    
<div class="zhuanji">

<?php   $sql="SELECT * FROM jae_special  ORDER BY listorder DESC limit 0,4  ";
        
        $result=query($sql); foreach ($result as $r) {?>


   <div class="li4"><a title="{$r[title]}" target="_blank" href="/index.php?m=content&c=special&a=show_special&id={$r[id]}"><img border="0" height="155" style="float:none;margin:0px;" width="290" src="{$r[thumb]}"></a></div>

   <?php }?>
      
     
      
        
<div class="clear"></div>
</div>
</div>
<div class="blank"> &nbsp;</div>
<div class="wrap">{pc:block pos="tonglan13"} {/pc}</div>
<div class="blank"> &nbsp;</div>
<!--友情链接-->

<div class="wrap">
  <div class="jh">
            <?php $result=query('SELECT * FROM jae_link WHERE typeid=0 AND passed=1 ORDER BY listorder ASC   LIMIT 0,50 ');
                        foreach ($result as $v) {
                        ?>
            <a target="_blank" href="<?php echo $v['url'];?>" title="<?php echo $v['name'];?>"><img data-ks-lazyload="<?php echo $v['logo'];?>"></a>
            <?php }?>
            <div class="clear"></div>
                    
                    </div>
</div>

<!--友情链接END--> 

<!--版权-->
</div>

		<?php include template('content','foot');?>
<!--版权END-->