<?php include template('content','head');



?>
<link href="/statics/css/member.css" rel="stylesheet" type="text/css" />
<div class="blank"></div>
<div class="wrap">
<div class="border">

<div class="m_left">
<div class="m_avator">
<?php echo 	'<img width="140" height="140" src="/_RS/user/picture?mixUserNick='.urlencode($nick,"UTF-8").'" />  ';?>
</div>
<div class="m_name"><?php echo $nick;?></div>

<div class="m_nav">
<ul>
<li class="m_nav_on"><a href="#">我的积分</a>
</li>
</li>
<li><a href="#">我的活动</a>
</li>
<li><a href="#">我的喜欢</a>
</li>
<li><a href="#">收货地址</a>
</li>
</ul>
<div class="blank"></div>
</div>


</div>
<div class="m_right">
<div class="pd20">

<div class="m_title">
我的积分 

</div>
<div class="blank"></div>
<div class="m_main">












</div>


</div>
</div>



















<div class="clear"></div>
</div>














</div>
<div class="blank"></div>
<?php include template('content','foot');?>